{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>รายละเอียดสินค้า</title>
</head>
<body class="bg-lightblue-100 p-6">
    <style>
        body {
            background-color: #e0f7fa; /* สีฟ้าอ่อน */
        }
    </style>

<div class="container max-w-lg mx-auto my-10 p-6 bg-white shadow-lg rounded-lg">
    <!-- หัวข้อ -->
    <h2 class="text-3xl font-bold font-niramit text-gray-800 mb-4 text-center">รายละเอียดสินค้า: ยาดมหงส์ไทย</h2>
    
    <div class="text-center">
        <img class="img-fluid mx-auto my-4 rounded-lg" src="{% static 'images/หงษ์ไทย.jpg' %}" alt="ยาดมสมุนไพร หงส์ไทย"> 
        <h1 class="text-3xl font-bold font-niramit mb-2">ยาดมสมุนไพร หงส์ไทย</h1>
        <h3 class="my-4 text-2xl p-1 text-gray-700 text-left">
            ยาดมสมุนไพรที่ใคร ๆ ก็รู้จัก มีอยู่หลายสูตร แต่ที่ขายดีที่สุดจะเป็นกระปุกสีเขียว สูตร 2
            <br>กลิ่นหอมเย็นสดชื่นด้วยส่วนผสมของเกล็ดสะระแหน่ การบูร พิมเสน น้ำมันยูคาลิปตัส 
            <br>และตัวยาอื่น ๆ ที่ช่วยบรรเทาอาการเวียนศีรษะ คัดจมูก พกพาสะดวก โดยมีการต่อยอดทำแบบหลอดสีเขียวด้วยส่วนผสมเดียวกัน 
            <br>ไม่เพียงแค่ใช้ดมเท่านั้นแต่ยังทาได้ด้วย
        </h3>        
        <p class="text-lg font-semibold text-left">ขนาด: <span class="font-normal">5 กรัม</span></p>
        <p class="text-lg font-semibold text-left">ราคาปกติ: <span class="font-normal">39 บาท</span></p>
    </div>
    
    <!-- ปุ่มย้อนกลับ -->
    <div class="text-center mt-6">
        <a href="{% url 'product_list' %}" class="btn btn-success">
            กลับไปยังหน้ารายการสินค้า
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>